@charset "UTF-8";
/*Parte	Significa
all	afecta a todas las propiedades que cambien
0.5s	dura medio segundo
ease	la animación empieza lenta, acelera y termina lenta*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Times, sans-serif;
  background-color: #121212;
}

@keyframes crecer {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
header {
  background-color: #121212;
  position: sticky; /*mantener su flujo hast llegar al borde superior de la pantalla*/
  top: 0; /*se pega arriba porq  el top = 0 pixel*/
  z-index: 1000; /*siempre por encima del resto de contenido*/
  animation: crecer 2s ease;
}

.utp-navbar .navbar-brand {
  font-size: 30px;
}
.utp-navbar .navbar-nav {
  gap: 30px;
}
.utp-navbar .navbar-nav a {
  color: #E0E0E0;
  border-radius: 5px;
  transition: all 1s ease;
  font-size: 17px;
}
.utp-navbar .navbar-nav a:hover {
  background-color: #888888;
  transform: scaleX(1.3); /* scale(x , y ) x ancho  , y alto*/
}
.utp-navbar .navbar-nav .nav-link.active {
  background-color: #888888;
  border-bottom: 2px solid #E0E0E0;
  transform: scaleX(1.3);
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.banner {
  height: 320px;
  background-image: url(../img/banner24.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -o-object-fit: contain;
     object-fit: contain; /* img completa*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.banner .content-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.banner .content-banner .btn-primary {
  animation: pulsar 1.5s ease-in-out infinite;
}

.productos {
  background-color: #121212;
  color: #E0E0E0;
  padding: 40px;
}
.productos h2 {
  padding-top: 10px;
  font-weight: bold;
}
.productos .card {
  border: none;
  border-radius: 10px;
  background: #121212;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.8);
  transition: all 1.5s ease;
  padding: 10px;
  /*border: $color2 solid 1px;*/
}
.productos .card .card-title {
  color: #E0E0E0;
}
.productos .card img {
  width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.productos .card .card-title {
  text-align: center;
}
.productos .card:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.categorias {
  background-color: #B0B0B0;
  color: #E0E0E0;
  padding: 50px;
}
.categorias h3 {
  font-size: 30px;
  font-weight: bold;
}
.categorias .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  background-color: #121212;
  color: #E0E0E0;
  border: none;
  transition: all 1s ease;
}
.categorias .card a {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 15px;
}
.categorias .card:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
}

/*
@keyframes entrarAbajo{
    0%{transform: translateY(800px); }
    100%{transform: translateY(0); }
}
 animation: entrarAbajo 0.8s ease ;    
*/
.footer {
  background-color: #121212;
  color: #E0E0E0;
  padding: 18px;
}
.footer h5 {
  font-weight: bold;
  font-size: 23px;
}
.footer p {
  margin-bottom: 5px;
}
.footer p a {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 18px;
  font-size: 18px;
}

.pro-categoria {
  padding: 20px;
  background-color: #121212;
  border-bottom: 1px solid #444444;
}
.pro-categoria a {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 18px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.pro-categoria a:hover {
  color: #888888;
}

.cuadernos {
  padding: 30px;
}
.cuadernos h3 {
  color: #E0E0E0;
}
.cuadernos .card {
  padding: 0px 20px;
  border: 1px solid #444444;
  border-radius: 10px;
  background: #121212;
  transition: all 1.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}
.cuadernos .card .card-body {
  color: #E0E0E0;
}
.cuadernos .card img {
  width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cuadernos .card .btn:hover {
  background-color: #E0E0E0;
  color: #121212;
}
.cuadernos .card:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.carpetas .card-grande {
  background-color: #121212;
  border: 1px solid #444444;
  border-radius: 10px;
  background: #121212;
  transition: all 1.5s ease;
  color: #E0E0E0;
  padding: 10px;
}
.carpetas .card-grande .card-pequeño {
  background: #121212;
  border-radius: 0px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.9);
  transition: all 1.5s ease;
}
.carpetas .card-grande .card-pequeño img {
  width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.carpetas .card-grande .card-pequeño:hover {
  transform: scale(1.1) translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.Oficina {
  margin-bottom: 20px;
}
.Oficina h3 {
  color: #E0E0E0;
}
.Oficina .card1 {
  background-color: #121212;
  border: 1px solid #444444;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Oficina .card1 img {
  width: 100%;
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 200px;
}
.Oficina .card2 {
  background-color: #121212;
  border: 1px solid #444444;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}/*# sourceMappingURL=style.css.map */